nav {
    display: block;
    padding: 10px;
    background-color: #FFE4E1;
    position: sticky;
    top: 0;
    margin: 8px;
    border: 1px solid #BFBFBF;
    box-shadow: -2px 0px 29px 0px rgba(0,0,0,0.5);
    transition: top 0.3s;
    z-index: 1;
}

a {
    text-decoration: none;
    color: black;
    display: inline;
    text-transform: uppercase;
    font-size: 125%;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

nav a:hover {
    background-color: #FFB6C1;
}

h1 {
    text-align: center;
}

body {
    background-image: url('header1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.jaguarText {
    width: 900px;
    font-weight: 600;
    font-family: Lato, sans-serif;
    font-size: 100%;
    hyphens: auto;
    text-align: center;
    padding-left: 500px;
}

.jaguarImage {
    width: 400px;
    height: 300px;
    padding-left: 50px;
}

.lionText {
    width: 900px;
    font-weight: 600;
    font-family: Lato, sans-serif;
    font-size: 100%;
    hyphens: auto;
    text-align: center;
    padding-left: 300px;
}

.lionImage {
    width: 400px;
    height: 300px;
    padding-left: 50px;
}

.tigerText {
    width: 900px;
    font-weight: 600;
    font-family: Lato, sans-serif;
    font-size: 100%;
    hyphens: auto;
    text-align: center;
    padding-left: 50px;
}

.tigerImage {
    width: 400px;
    height: 300px;
    padding-left: 50px;
}

footer {
    bottom: auto;
    margin-top: 90px;
    font-size: 100%;
    font-weight: 600;
    text-align: center;
}
